body   
{
    background-color:Gainsboro;
}

.navigation
{   
    display: inline;
    margin-left: 100px;
}

.navigation ul li
{
    display: inline;
    margin-left: 10px;
}

.container
{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 20px;
    padding-right: 150px;
    padding-bottom: 20px;
    padding-left: 150px;
    background-color:beige;
}

a:hover 
{ 
    background-color: lightblue;
}